{% extends "base.html" %}

{% block content %}

<h1>Manim Editor</h1>

<p>
    The Manim Editor has been launched in '{{ cwd }}'.
    This is the current working directory (CWD).
    If you want to change it, stop the editor and restart it in the right directory.
    <br/>

    To get started you have to <a href="{{ url_for('main.create_project') }}">create a new project</a>.
    <br/>

    You can find more info in the <a href="https://manim-editor.readthedocs.io/en/latest/">Documentation</a>.
</p>

{% endblock %}
