alabaster==0.7.12; python_version >= "3.6"
attrs==21.2.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.5.0" and python_version >= "3.7" and python_version < "4.0"
babel==2.9.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
backports.entry-points-selectable==1.1.1; python_version >= "2.7" and python_full_version >= "3.6.1"
beautifulsoup4==4.10.0; python_full_version > "3.0.0" and python_version >= "3.6"
black==21.10b0; python_full_version >= "3.6.2"
certifi==2021.10.8; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
cfgv==3.3.1; python_full_version >= "3.6.1"
charset-normalizer==2.0.7; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
click-default-group==1.2.2; python_version >= "3.7" and python_version < "4.0"
click==8.0.3; python_version >= "3.6"
cloup==0.7.1; python_version >= "3.7" and python_version < "4.0"
colorama==0.4.4; platform_system == "Windows" and python_version >= "3.7" and python_full_version >= "3.6.2" and sys_platform == "win32" and python_full_version < "4.0.0" and python_version < "4.0" and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" and platform_system == "Windows" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0" and platform_system == "Windows") and (python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.5.0")
colour==0.1.5; python_version >= "3.7" and python_version < "4.0"
commonmark==0.9.1; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.7" and python_version < "4.0"
cython==0.29.24; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" and sys_platform == "darwin" or python_version >= "3.7" and python_version < "4.0" and sys_platform == "darwin" and python_full_version >= "3.3.0"
decorator==5.1.0; python_version >= "3.7" and python_version < "4.0"
distlib==0.3.3; python_full_version >= "3.6.1"
docutils==0.17.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
filelock==3.3.2; python_version >= "3.6" and python_full_version >= "3.6.1"
flake8==4.0.1; python_version >= "3.6"
flask==2.0.2; python_version >= "3.6"
furo==2021.10.9; python_version >= "3.6"
glcontext==2.3.4; python_version >= "3.7" and python_version < "4.0"
identify==2.3.5; python_full_version >= "3.6.1"
idna==3.3; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
imagesize==1.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
importlib-metadata==4.2.0; python_version < "3.8" and python_version >= "3.7" and python_full_version >= "3.6.1"
importlib-resources==5.4.0; python_version < "3.9" and python_version >= "3.7"
isort==5.10.1; python_full_version >= "3.6.1" and python_version < "4.0"
isosurfaces==0.1.0; python_version >= "3.7" and python_version < "4.0"
itsdangerous==2.0.1; python_version >= "3.6"
jinja2==3.0.2; python_version >= "3.6"
jsonschema==4.2.1; python_version >= "3.7"
manim @ git+https://github.com/ManimCommunity/manim@main ; python_version >= "3.7" and python_version < "4.0"
manimpango==0.3.1; python_version >= "3.7" and python_version < "4.0"
mapbox-earcut==0.12.11; python_version >= "3.7" and python_version < "4.0"
markdown-it-py==1.1.0; python_version >= "3.6" and python_version < "4.0"
markupsafe==2.0.1; python_version >= "3.6"
mccabe==0.6.1; python_version >= "3.6"
mdit-py-plugins==0.2.8; python_version >= "3.6" and python_version < "4.0"
moderngl-window==2.4.0; python_version >= "3.7" and python_version < "4.0"
moderngl==5.6.4; python_version >= "3.7" and python_version < "4.0"
multipledispatch==0.6.0; python_version >= "3.7" and python_version < "4.0"
mypy-extensions==0.4.3; python_full_version >= "3.6.2" and python_version >= "3.5"
mypy==0.910; python_version >= "3.5"
myst-parser==0.15.2; python_version >= "3.6"
networkx==2.6.3; python_version >= "3.7" and python_version < "4.0"
nodeenv==1.6.0; python_full_version >= "3.6.1"
numpy==1.21.1; python_version >= "3.7" and python_version < "4.0"
packaging==21.2; python_version >= "3.6"
pathspec==0.9.0; python_full_version >= "3.6.2"
pillow==8.4.0; python_version >= "3.7" and python_version < "4.0"
platformdirs==2.4.0; python_version >= "3.6" and python_full_version >= "3.6.2"
pre-commit==2.15.0; python_full_version >= "3.6.1"
pycairo==1.20.1; python_version >= "3.7" and python_version < "4"
pycodestyle==2.8.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pydub==0.25.1; python_version >= "3.7" and python_version < "4.0"
pyflakes==2.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pyglet==1.5.21; python_version >= "3.7" and python_version < "4.0"
pygments==2.10.0; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.2" and python_full_version < "4.0.0"
pyobjc-core==7.3; python_version >= "3.7" and python_version < "4.0" and sys_platform == "darwin"
pyobjc-framework-cocoa==7.3; python_version >= "3.7" and python_version < "4.0" and sys_platform == "darwin"
pyparsing==2.4.7; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
pyrr==0.10.3; python_version >= "3.7" and python_version < "4.0"
pyrsistent==0.18.0; python_version >= "3.7"
pytz==2021.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pyyaml==6.0; python_version >= "3.6" and python_full_version >= "3.6.1"
regex==2021.11.2; python_full_version >= "3.6.2"
requests==2.26.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
rich==10.13.0; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.7" and python_version < "4.0"
scipy==1.6.1; python_version >= "3.7" and python_version < "4.0"
screeninfo==0.6.7; python_version >= "3.7" and python_version < "4.0"
six==1.16.0; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.1"
skia-pathops==0.7.1; python_version >= "3.7" and python_version < "4.0"
snowballstemmer==2.1.0; python_version >= "3.6"
soupsieve==2.3; python_full_version > "3.0.0" and python_version >= "3.6"
sphinx==4.2.0; python_version >= "3.6"
sphinxcontrib-applehelp==1.0.2; python_version >= "3.6"
sphinxcontrib-devhelp==1.0.2; python_version >= "3.6"
sphinxcontrib-htmlhelp==2.0.0; python_version >= "3.6"
sphinxcontrib-jsmath==1.0.1; python_version >= "3.6"
sphinxcontrib-qthelp==1.0.3; python_version >= "3.6"
sphinxcontrib-serializinghtml==1.1.5; python_version >= "3.6"
toml==0.10.2; python_full_version >= "3.6.1" and python_version >= "3.5"
tomli==1.2.2; python_version >= "3.6" and python_full_version >= "3.6.2"
tqdm==4.62.3; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.4.0"
typed-ast==1.4.3; python_version < "3.8" and python_full_version >= "3.6.2" and python_version >= "3.5"
typing-extensions==3.10.0.2
urllib3==1.26.7; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
virtualenv==20.10.0; python_full_version >= "3.6.1"
waitress==2.0.0; python_full_version >= "3.6.0"
watchdog==2.1.6; python_version >= "3.7" and python_version < "4.0"
werkzeug==2.0.2; python_version >= "3.6"
zipp==3.6.0; python_version < "3.8" and python_version >= "3.7"
